<div class="logo">
    <a href="https://www.virecontador.com.br" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/virei_contador_logo.png" />
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item"
            *ngIf="(tela == 'pagamento' || tela == 'plano' || tela == 'socios'|| tela == 'empresa' || tela == 'usuario')"
            [ngClass]="{'active': tela == 'usuario'}">
            <a class="nav-link" (click)="trocarTelaProxima('usuario')">
                <i class="material-icons">person</i>
                <p>Dados Usuário</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="(tela == 'pagamento' || tela == 'plano' || tela == 'empresa' || tela == 'socios')"
            [ngClass]="{'active': tela == 'empresa'}">
            <a class="nav-link" (click)="trocarTelaProxima('empresa')">
                <i class="material-icons">home</i>
                <p>Dados Empresa</p>
            </a>
        </li>
        <!-- <li class="nav-item" *ngIf="(tela == 'pagamento' || tela == 'plano' || tela == 'socios' )"
            [ngClass]="{'active': tela == 'socios'}">
            <a class="nav-link" (click)="trocarTelaProxima('socios')">
                <i class="material-icons">assignment</i>
                <p>Plano</p>
            </a>
        </li> -->
        <li class="nav-item" *ngIf="(tela == 'pagamento' || tela == 'socios')" [ngClass]="{'active': tela == 'socios'}">
            <a class="nav-link" (click)="trocarTelaProxima('socios')">
                <i class="material-icons">assignment</i>
                <p>Sócios</p>
            </a>
        </li>
        <li class="nav-item" *ngIf="tela == 'pagamento'" [ngClass]="{'active': tela == 'pagamento'}">
            <a class="nav-link" (click)="trocarTelaProxima('pagamento')">
                <i class="material-icons">attach_money</i>
                <p>Pagamento</p>
            </a>
        </li>
    </ul>
</div>