<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar (trocarTela)="trocarTelaProxima($event)" [tela]="tela"></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <!-- <app-navbar></app-navbar> -->
        <app-dados-usuario [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'usuario'">
        </app-dados-usuario>
        <app-dados-empresa [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'empresa'">
        </app-dados-empresa>
        <app-escolha-plano (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'plano'"></app-escolha-plano>
        <app-pagamento (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'plano'"></app-pagamento>
        <!-- <router-outlet></router-outlet> -->
        <app-footer></app-footer>
    </div>
</div>