<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Escolha o plano</h4>
                        <p class="card-category">Por favor, escolha a melhor opção para sua empresa.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Abertura Grátis</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="contratar">
                                                <h2>Quero ser cliente Virei Contador</h2>
                                            </div>
                                            <div class="contratar">
                                                <h1>ABERTURA GRÁTIS*</h1>
                                            </div>
                                            <div class="contratar-texto">
                                                <label class="text-success">
                                                    * Para clientes que fizerem a contratação do plano de contabilidade
                                                    por
                                                    12 meses. Para concluir a contratação, há uma taxa de antecipação
                                                    R$99,90 que retornará como créditos em suas primeiras mensalidades.
                                                </label>
                                            </div>
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div class="contratar">
                                                <button mat-raised-button class="btn btn-success"
                                                    (click)="irParaPagamento(1)">CONTRATAR&nbsp;<i
                                                        class="material-icons">arrow_forward</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">R$700,00</h4>
                                        </div>
                                        <div class="contratar">
                                            <h2>Só quero abrir e sair fora</h2>
                                        </div>
                                        <div class="contratar">
                                            <h1>R$700,00</h1>
                                        </div>
                                        <div class="contratar">
                                            <div class="contratar-texto">
                                                <label>
                                                    * Para clientes que só desejam contratar a Abertura de Empresa e não
                                                    querem
                                                    o serviço de contabilidade do VireiContador.
                                                </label>
                                            </div>
                                            <div>
                                                <br><br>
                                            </div>
                                            <div class="contratar">
                                                <button mat-raised-button class="btn btn-default"
                                                    (click)="irParaPagamento(0)">CONTRATAR&nbsp;<i
                                                        class="material-icons">arrow_forward</i></button>
                                            </div>
                                            <div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>