<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Escolha o plano</h4>
                        <p class="card-category">Por favor, escolha a melhor opção para sua empresa.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-7 text-align">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Abertura Grátis</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="contratar">
                                                <h2>Quero ser cliente Virei Contador</h2>
                                            </div>
                                            <div class="contratar">
                                                <h1>ABERTURA GRÁTIS*</h1>
                                            </div>
                                            <div class="contratar-texto">
                                                <label class="text-success">
                                                    * Para clientes que fizerem a contratação do plano de contabilidade
                                                    por 12 meses.
                                                </label>
                                            </div>
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div class="contratar">
                                                <button mat-raised-button class="btn btn-success"
                                                    (click)="irParaPagamento(1)">CONTRATAR&nbsp;<i
                                                        class="material-icons">arrow_forward</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 text-align">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Certificado digital para pessoa física</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="contratar-texto">
                                                Para constituição de empresas passou a ser obrigatório o uso para
                                                assinatura dos sócios.
                                                <h3><strong>CERTIFICA VIX</strong></h3>
                                                <div style="font-size: 12px;"> De: <span
                                                        style="text-decoration: line-through; font-size: 20px;">R$135,00</span>
                                                </div>
                                            </div>
                                            <div class="contratar">
                                                <h4 style="font-weight: bold;color:#26c6da; ">
                                                    <span style="font-size: 12px;">Por:
                                                    </span><span style="font-size: 30px;"> R$110,00 </span>
                                                    <span style="font-weight: bold; color:#26c6da; font-size:12px">
                                                        / por
                                                        sócio
                                                    </span>
                                                </h4>
                                            </div>
                                            <div class="contratar">
                                                Agilize a sua solicitação para que o seu processo saia de forma mais
                                                rápida. </div>
                                            <div class="contratar">
                                                <a mat-raised-button class="btn btn-success" target="_blank"
                                                    href="https://certificavix.gfsis.com.br/gestaofacil/publico/RealizarPedido?indicacao=26&local=503&idProduto=1">CONTRATE
                                                    AQUI&nbsp;<i class="material-icons">arrow_forward</i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>