<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Sucesso</h4>
                        <p class="card-category">Os dados foram salvos com sucesso.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12 text-align">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"></h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="contratar">
                                                <h2>Virei Contador</h2>
                                            </div>
                                            <div class="contratar">
                                                <h1>{{model.cliente.nome}}, obrigada pela sua assinatura.</h1>
                                            </div>
                                            <div class="contratar-texto">
                                                <label class="text-success">
                                                </label>
                                            </div>
                                            <div>
                                                &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>