<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-migrar-sidebar (trocarTela)="trocarTelaProxima($event)" [tela]="tela">
        </app-migrar-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <app-migrar-dados-usuario [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'usuario'">
        </app-migrar-dados-usuario>
        <app-migrar-dados-empresa [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'empresa'">
        </app-migrar-dados-empresa>
        <app-migrar-dados-socios [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'socios'">
        </app-migrar-dados-socios>
        <!-- <app-migrar-escolha-plano [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'plano'">
        </app-migrar-escolha-plano>
      -->
        <app-migrar-dados-mes [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'mes'">
        </app-migrar-dados-mes>
        <app-migrar-pagamento [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'pagamento'">
        </app-migrar-pagamento>
        <app-sucesso [model]="model" (trocarTela)="trocarTelaProxima($event)" *ngIf="tela == 'sucesso'">
        </app-sucesso>
        <app-footer></app-footer>
    </div>
</div>