<div class="main-content">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
    </ngx-loading>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Dados do Usuário</h4>
                        <p class="card-category">Olá, preencha as informações.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome Completo" type="text"
                                            [(ngModel)]="model.empresa.nome" required
                                            [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="CPF" type="text" [(ngModel)]="model.empresa.cpf"
                                            #cpfInput="ngModel" [cpf]="model.empresa.cpf" mask="000.000.000-99" required
                                            [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                    <div *ngIf="cpfInput.invalid && (cpfInput.dirty || cpfInput.touched)">
                                        <div *ngIf="cpfInput?.errors?.cpf">CPF inválido.</div>
                                        <div *ngIf="cpfInput?.errors?.required">CPF Obrigatório.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" name="email" id="email"
                                            [(ngModel)]="model.empresa.email" disabled placeholder="Email" required
                                            email #email="ngModel">
                                    </mat-form-field>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                                        <div *ngIf="email.errors.required">Email é obrigatório.</div>
                                        <div *ngIf="email.errors.email">Email inválido.</div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Celular" type="text" mask="(00) 00000-0000"
                                            required [(ngModel)]="model.empresa.telefone"
                                            [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Telefone 2" type="text" mask="(00) 00000-0000"
                                            [(ngModel)]="model.empresa.telefone2" [ngModelOptions]="{standalone: true}">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button (click)="irParaEmpresa()"
                    class="btn btn-primary pull-right">PROSSEGUIR</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>